<ion-view title="ProspectWise" hide-back-button="true" style="background-color:#2f89ba;">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-slide-box show-pager="false">
            <ion-slide style="background-color:#2f89ba;">
                <div id="" style="" class="carousel-caption-center colour-white">
                
                <h1>OUR TASKERS COLLECT THE LEADS</h1>
                <h3>You close the deals.</h3><br />
                <p><a class="btn btn-lg btn-primary scroll" href="#/app/signup" role="button">Try 100 Leads Free</a></p>
                <br /><br />
                <h3>Try 100 of our leads free, no obligations, no credit card necessary.</h3>
              </div>
            </ion-slide>
            <ion-slide style="background-color:#2f89ba;">
                <h3>Using Awesome</h3>

                <div id="list">
                    <h5>Just three steps:</h5>
                    <ol>
                        <li>Be awesome</li>
                        <li>Stay awesome</li>
                        <li>There is no step 3</li>
                    </ol>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>