<ion-view title="Sign Up" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="padding">
            Sign up for an account and get access to messaging and more amazing features.
        </div>

       <!-- Setup create account form here -->


        <hr />
        <a class="button button-block" href="#/app/playlists" >Go back to playlists</a>
    </ion-content>
</ion-view>